@import "tailwindcss";

@theme {

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #f3f4f6;
  --color-text: #1f2937;
  --color-muted: #6b7280;

  /* فونت‌ها */
  --font-sans: var(--font-vazirmatn), sans-serif;
  --font-display: var(--font-lalezar), cursive;
}

:root {
  background-color: var(--color-secondary);
  color: var(--color-text);
  font-family: var(--font-sans);
}
